.Logement-introduction,
.Logement-details {
    display: flex;
    justify-content: space-between;
    color: #FF6060;
}

.carousel {
    padding-bottom: 70px;
}
.Logement-introduction {
    display: flex;
    justify-content: space-between;
}
.Logement-introduction_infos {
    font-weight: 500;
    padding-bottom: 20px;
}
.Logement-introduction_infos-title {
    font-size: 36px;
}
.Logement-introduction_infos-location {
    font-size: 18px;
}

.Logement-introduction_host {
    display: flex;
    align-items: center;
    justify-content: space-between;
} 
.Logement-introduction_host-name {
    display: block;
    font-size: 18px;
    width: 40%;
} 
.Logement-introduction_host-photo {
    border-radius: 50%;
} 
.Logement-details > * {
    width: 45%;
}